<%- include("./partials/header.ejs") %> 

<%- include("./partials/new-blog-nav.ejs") %> 


  <div class="container py-5">

      <div class="body mt-3">
        <h1>Fresh Blogs </h1>
      
        <% blogs.reverse() %> 

    <%    blogs.forEach((blog) => {   %>  
          <div class="card mt-3">
            <div class="card-body">
              <p class="text-muted">Time Published: <%= blog.postedAt %></p>
              <h5 class="card-title"><%= blog.title %></h5>
              <p class="card-text"><%= blog.content.slice(0, 199) %>...<a href="/blog/<%= blog._id %>">Read more<a></p>
              <a href="/blog/<%= blog._id %>" class="btn btn-primary">Read more...</a>
              <a href="/delete/<%= blog._id %>" class="btn btn-danger">Delete</a>
              <a href="/update/<%= blog._id %>" class="btn btn-warning">Edit</a>
            </div>
          </div>
    <%    })  %>  

        
      </div>

  </div>
  

<%- include("./partials/footer.ejs") %> 

